<div class="modal-header">
    <h4 class="modal-title pull-left">
        <h1 style="text-align: center;" *ngIf="terms">Terms Of Use</h1>
        <h1 style="text-align: center;" *ngIf="cookies">Cookie Preference</h1>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="bgImageClass" *ngIf="terms">
    <section>
        <div class="container">
            <h3 style="text-align: center;">Privacy Policy</h3>
            <p><b>What information do we collect?</b></p>
            We collect information from you when you place an order or register on our site. When ordering or
            registering on our site, as appropriate, you may be asked to enter your name, mailing address, telephone
            number, email address, or credit card information. You may, however, visit our site anonymously.<br>
            <p><b>What do we use your information for?</b></p>
            Your information whether public or private, will not be sold, exchanged, transferred, or given to any
            other company for any reason whatsoever, without your consent, other than for the express purpose of
            delivering the service requested or products purchased.<br>
            Any of the information we collect from you may be used in one of the following ways:
            <ul>
                <li>
                    To process transactions</li>
                <li>To communicate with you about products or services that you’ve expressed an interest in using or

                    learning more about.</li>
            </ul>

            <p><b>How do we protect your information?</b></p>
            We implement a variety of security measures to maintain the safety of your personal information when you
            enter, submit, or access your personal information, or when placing an order.
            <p><b>Do we disclose any information to outside parties?</b></p>
            We do not sell, trade, or transfer to outside parties your personally identifiable information. This
            does not include trusted third parties who assist us in operating our website, conducting our business,
            or servicing you, so long as those parties agree to keep this information confidential.
            <ul>
                <li>We may release your information when we believe release is appropriate to comply with the law,
                    enforce
                    our site policies, protect ours or others' rights, property, or safety.</li>
                <li>Non-personally identifiable visitor information may be provided to other parties for marketing,
                    advertising, or other uses.</li>
            </ul>
            <p><b>Third-party links</b></p>
            Occasionally, at our desecration, we may include links to third party websites/ on our site. These
            third-party sites have separate and independent privacy policies. We, therefore, have no responsibility
            or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the
            integrity of our site and welcome your feedback related to how these third-party sites operate.
            <p><b> Online Privacy Policy Only</b></p>
            This online policy applies only to information collected through our website and not information
            collected offline.<br>
            <p><b> Your Consent</b></p>
            By using our site, you consent to our online Privacy Policy.
            <p><b>Change to our Privacy Policy</b></p>
            If we decide to change our privacy policy. We will post the changes on this page.
            <p><b>Contact Us</b></p>
            If there are any questions regarding this privacy policy you may contact us through our contact page.
        </div>
    </section>
</div>
<div class="bgImageClass" *ngIf="cookies">
    <section>
        <div class="container">
            <h3 style="text-align: center;">Cookie Policy</h3>
            <p>EveryObit.com automatically collects certain information about the visitors to its website to distinguish
                among visitors and to personalize and improve their user experience. EveryObit.com uses cookies and
                similar tracking technology to collect this information about visitors to its website. EveryObit.com
                website also uses web beacons, which are transparent pixel images that are used in collecting
                information about website usage, e-mail response, and tracking.</p>
            <p>By clicking the Accept Cookies button on the cookie policy banner, you agree to the use of cookies and
                web beacons as outlined in this policy. You may also change your cookie settings and turn off and on
                certain distinct categories of cookies. You are also free to disable our cookies on your computer or
                update your cookie settings if you do not wish to accept cookies from us. However, disabling cookies may
                interfere with your use of our website.</p>

            What are Cookies?

            <p>Cookies are small text files made up of letters and numbers stored in the web browser directories on
                visitors’ computers or internet-enabled devices. Generally, cookies may contain information about the
                website visitor, his internet protocol (“IP”) addresses, the region or general location of the device
                used to access the website, browser type, operating system, the visitor’s preferences, and his use of
                the EveryObit.com website, including a history of the pages viewed. While the information in a cookie
                does not generally identify the specific website visitor, it can provide visitors with a more
                personalized user experience. To find out more about cookies and how to manage and delete them, visit
                <a href="http://www.allaboutcookies.org/" target="blank">http://www.allaboutcookies.org/</a> or <a
                    href="https://www.aboutcookies.org/" target="blank">https://www.aboutcookies.org/</a>.
            </p>

            <p> EveryObit.com uses the following types of cookies for its website:</p>
            <ul>
                <li>
                    <p><b>Essential Cookies:</b> These are cookies that we need to use for our website to function and
                        cannot
                        be
                        turned
                        off in our system, and are usually set in response to some action you have taken equivalent to
                        you
                        requesting a service, e.g., setting privacy preferences or logging into your client portal. If
                        you
                        decide to
                        block or get alerts about these cookies, some parts of our website may not work. Some of these
                        cookies, such
                        as the ones associated with logging into your client portal, store personally identifiable
                        information.</p>
                </li>
                <li>
                    <p><b> Non-essential Cookies:</b> Performance, visits and traffic source, and analytics cookies
                        (e.g.,
                        Google
                        Analytics). These are cookies that we use to count visits and sources of traffic to our website
                        so
                        that we
                        can measure and improve its performance and decide which pages are the most or least popular.
                        The
                        information these cookies collect is aggregated and anonymous. This website uses Google
                        Analytics
                        cookies.
                        Information collected by these cookies will be transferred to and stored by Google in accordance
                        with its
                        privacy practices. For further information on Google’s privacy practices and how this applies to
                        Google
                        Analytics, please visit <a href="https://support.google.com/analytics/answer/6004245"
                            target="blank">https://support.google.com/analytics/answer/6004245</a>.</p>
                </li>

            </ul>

            <p><b>Social Media Cookies:</b> We do not use targeted or social media Cookies on our site.</p>
            <p> <b>Targeting or Advertising Cookies:</b> We do not use targeted or advertising Cookies on our site.
                EveryObit.com may link through to third-party websites which may use cookies over which we have no
                control. We recommend that you check the relevant third party’s privacy policy for information about any
                cookies that may be used.</p>
            <hr />
            <p>If you want to turn off cookies, you may configure your web browser to refuse cookies, delete cookies, or
                be notified if a cookie is set, and you may find out how to do this by accessing "Help" on your browser
                menu. Please note that if you decide to delete or block cookies, you may not be able to access all areas
                of our website and the website may not function correctly. Our website may link to third-party websites
                which may also use cookies. EveryObit.com does not have any control over the use of those cookies and
                you should check with those third parties about their relevant privacy or cookie policies.</p>
            <p>By clicking the Accept Cookies button on the cookie policy banner, you agree to allow EveryObit.com to
                use cookies that may contain information about you and your browsing behavior on the website. You may
                choose to allow or block the non-essential cookie types above.</p>



        </div>
    </section>
</div>