<form #resetPasswordForm="ngForm" name="resetPasswordForm"
    (ngSubmit)="resetPasswordForm.valid && submit(resetPasswordForm)" novalidate>
    <section class="bgImage">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="boxWrapper">
                        <div class="boxHeder">
                            <h1>Reset Password</h1>
                        </div>
                        <div class="bgColor"></div>
                        <div class="formBox">
                            <div class="form-group"
                                [class.has-error]="(password.touched || resetPasswordForm.submitted)&& password.invalid">
                                <label>New Password</label>
                                <input type="password" class="form-control" placeholder="Enter Password" id="password"
                                    name="password" #password="ngModel" [(ngModel)]="resetPasswordData.password"
                                    required>
                                <span class="help-block" *ngIf="password.errors?.required">Password is
                                    required</span>
                            </div>
                            <div class="form-group"
                                [class.has-error]="(newPassword.touched || resetPasswordForm.submitted)&& newPassword.invalid">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" placeholder="Enter Confirm Password"
                                    id="newPassword" name="newPassword" appConfirmEqualValidator="password"
                                    #newPassword="ngModel" [(ngModel)]="resetPasswordData.newPassword" required>
                                <span class="help-block" *ngIf="newPassword.errors?.required">Confirm Password is
                                    required</span>
                                <span class="help-block" *ngIf="newPassword.errors?.notEqual">
                                    Passwords do not match
                                </span>
                            </div>
                            <button type="submit" class="btn btn-red btnCss mt-20">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loaderDiv" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
    </section>
</form>