.funeralService {
	background-color: #7DB4BF;
	border-radius: 36px 36px 0px 0px;
	.funeralListing {
		    max-width: 800px;
			margin: 0 auto;
			padding: 30px;
		.funeralListingInner {
		   margin-bottom: 30px;
			ul {
				list-style: none;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				
				li {
					color: #fff;
					flex: 1 0 50%;
					font-size: 16px;
					font-family: 'open_sanssemibold';
					margin: 0 0 16px 0;
					position: relative;
					padding: 0 0 0 35px;
					@media (max-width:767px){
						 font-size:14px;
						}
					@media (max-width:640px){
					flex: 1 0 100%;	
					}
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 6px;
						width: 15px;
						height: 15px;
						background-color: #fff;
						border-radius: 50%;
					}
					span {
						display: block;
						font-size: 15px;
						font-family: 'open_sansregular';
						@media (max-width:767px){
						 font-size:12px;
						}
					}
				}
			}
		}
	}
	.thumbImage {
		width: 100%;
		img {
			width: 100%;
		}
	}
}
.loaderDiv {
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.75);
	height: 100%!important;
	width: 100%!important;
	z-index: 1;
	.mat-progress-spinner {
		width: 50px !important;
		height: 50px !important;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		top: 50%;
		::ng-deep svg {
			width: 50px!important;
			height: 50px!important;
			circle {
				stroke: #b4523d;
			}
		}
	}
}
.pagNav{
	text-align: center;
	width: 100%;
	display: block;
	::ng-deeppagination-controls{
		width: 100%;
		display: block;
		.ngx-pagination{
			padding-top: 10px!important;
			padding-bottom: 10px!important;
			display: flex!important;
			justify-content: flex-end!important;
			li{
				height: 30px!important;
				width: auto!important;
			  &.current{
				background: #b4523d!important;
				line-height: normal;
				height: 30px!important;
			  }
			  &.disabled{
				color: #808080!important;
				cursor: default!important;
				&:before{
					position: absolute;
					left: auto;
				}
				span{
					margin: 0 0 0 16px;
				}
			  }
			  a{
				 cursor: pointer;
				 &:after{
					position: absolute;
					right: auto;
				 }
				 &:focus{
					outline:none;
				 }
				 &:hover{
					background-color: transparent;
				 }
			  }
			}
		  }
	}
}