<section class="mainContent">
    <div class="container">
        <div class="row">
            <!--search panel-->
            <div class="searchPanel">
                <a [routerLink]="['/advance-search']">Continue Searching <i class="fa fa-search"></i></a>
            </div>
            <!---->
            <div class="col-sm-12">
                <div class="row mb-20">
                    <div class="col-sm-12">
                        <div class="mainHeading">
                            <h1>Careers</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 pad-0 order-md-1 order-sm-2 order-2">
                        <div class="leftSection">
                            <h2>Come work with us</h2>
                            <p>We’re on a mission to help make placing an obituary within everyone’s means.</p>
                            <p> From building affordable, innovative products to supporting the communities that we
                                serve; EveryObit.com is transforming an entire industry through the power of partnership
                                and social conscience.</p>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 pad-0 order-md-2 order-sm-1 order-1">
                        <div class="careers">
                            <div class="thumbImage"><img src="assets/images/careers.jpg" alt="image" /></div>
                            <div class="thumbBody">
                                <p>Although we are not currently hiring, we are always interested in speaking with
                                    talented people about their career aspirations and how they can make a difference
                                    within the community. Please send your resume and cover letter to
                                    careers@everyobit.com </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>