.footerNav {
    width: 100%;
        display: block;
        background-color: #bdb7af;
        padding: 10px 0;
        ul{
          align-items: center;
         display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
         @media screen and (max-width:576px)
         {
            display:block;
            }
            li{
            width:auto;
            display:inline-block;
            font-size:13px;
            font-family: 'open_sansregular';
            @media screen and (max-width:576px)
            {
             display:block;width:100%;text-align:center;
            }
                a{
                 color: #000;
                 cursor: pointer;
                 padding: 8px 12px;
                     @media screen and (max-width:767px)
                     {
                      padding:7px;	 
                     }
                    @media screen and (max-width:576px)
                        {
                         display:block;
                        }
                    &:hover{
                     color:#fff;
                    }
                    &:focus{
                     color:#fff;
                    }
                }
            }
        }
    }
    .footerBottom{
    background-color: #98948d;
        padding: 10px 0;
        .copyright{
          width:100%;
          display:block;
          height: 30px;
            @media screen and (max-width:576px){
                 text-align: center;
                height: auto;
                margin: 0 0 6px 0;
            }
            p{
             margin:0px;
             font-size:13px;
             color:#fff;
             line-height:30px;
            }
        }
        .socialMedias {
        width: 100%;
        display: block;
        text-align: right;
        @media screen and (max-width:576px){
              text-align: center;
            }
            ul{
             list-style:none;
                li{
                width:auto;
                display:inline-block;
                margin: 0 10px 0 0;
                 i{
                    width: 30px;
                    height: 30px;
                    background-color: #000;
                    color: #fff;
                    border-radius: 4px;
                    text-align: center;
                    line-height: 30px;	
                     &:hover{
                         background-color:#b4523d;
                     }
                    }
                    &:last-child{
                     margin:0px;
                    }
                }
            }
        }
    }