<form #forgotPasswordForm="ngForm" name="forgotPasswordForm"
    (ngSubmit)="forgotPasswordForm.valid && submit(forgotPasswordForm)" novalidate>
    <section class="bgImage">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="boxWrapper">
                        <div class="boxHeder">
                            <h1>Forgot Password</h1>
                        </div>
                        <div class="bgColor"></div>
                        <div class="formBox">
                            <div class="form-group"
                                [class.has-error]="(email.touched || forgotPasswordForm.submitted)&& email.invalid">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Enter Email Address" id="email"
                                    name="email" #email="ngModel"
                                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                    [(ngModel)]="forgotFormData.email" required>
                                <span class="help-block" *ngIf="email.errors?.required">Email is
                                    required</span>
                                <span class="help-block" *ngIf="email.errors?.pattern">Email is
                                    invalid</span>
                            </div>
                            <p class="forgotPass text-right"><a [routerLink]="['/auth/login']">Back to login</a></p>
                            <button type="submit" class="btn btn-red btnCss mt-20">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="loaderDiv" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
    </section>
</form>