<section class="mainContent">
    <div class="container">
        <div class="row">

            <div class="searchPanel">
                <a [routerLink]="['/advance-search']">Continue Searching <i class="fa fa-search"></i></a>
            </div>

            <div class="col-sm-12">
                <div class="row mb-20">
                    <div class="col-sm-12">
                        <div class="mainHeading">
                            <h1>Advertise</h1>
                            <p>Families place your obituary directly with your local funeral service provider. 
                                <!-- <br>See
                                our list of funeral service partners <a
                                    [routerLink]="['/funeral-homes']">here.</a> -->
                                </p>
                            <p>Funeral Service Providers interested in joining the EveryObit.com network, <br>please
                                contact us at <a href="mailto: advertise@everyobit.com">advertise@everyobit.com</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="advertise">
                            <div class="thumbImage"><img src="assets/images/cemetery-strip.jpg" alt="image" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>